/* Write your CSS here */
.app-cont {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  text-align: center;
}
.img {
  height: 80px;
  width: 80px;
}
.head {
  font-size: 20px;
  font-family: 'Bree serif';
}
